{
    "extends": "@damilaredev/eslint-config",
    "rules": {
        "import/named": "off",
        "@typescript-eslint/no-shadow": "warn"
    },
    "overrides": [
        {
            "files": "examples/split-input-examples/**/*.*",
            "rules": {
                "import/named": "off"
            }
        }
    ]
}